.DS_Store
.env
.eslintcache
.node_repl_history
.yarn-integrity

*.log
*.pid
*.pid.lock
*.seed
*.tgz
npm-debug.log*

build/
build/Release/
coverage/
dist/
lib-cov/
.nyc_output/
.next/

logs/
.pids/

.idea/
.vscode/
.Spotlight-V100/
.TemporaryItems/
.Trash-*/

node_modules/
jspm_packages/
bower_components/
typings/
.npm/

.grunt/
.lock-wscript

.prettierrc
/src/generated/prisma

/src/generated/prisma
